{% if escape.hashtag == 'escWhite' %}
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23escWhite%20from%3A{{ twitter_consumer_username }}" data-widget-id="663282803728121856">Tweets 端ber #escWhite from:{{ twitter_consumer_username }} </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

{% if escape.hashtag == 'escBlue' %}
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23escBlue%20from%3A{{ twitter_consumer_username }}" data-widget-id="663283059924590592">Tweets 端ber #escBlue from:{{ twitter_consumer_username }}" </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

{% if escape.hashtag == 'escPink' %}
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23escPink%20from%3A{{ twitter_consumer_username }}" data-widget-id="663282355432529920">Tweets 端ber #escPink from:{{ twitter_consumer_username }} </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

{% if escape.hashtag == 'escYellow' %}
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23escYellow%20from%3A{{ twitter_consumer_username }}" data-widget-id="663277478761381888">Tweets 端ber #escYellow from:{{ twitter_consumer_username }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}